menu-book {
  margin: 100%;
}
.subtitle {
  color: #5e5e5e;
}
.price {
  color: #383844;
}
.category-list {
  /* max-width: 300px; */
}
.dish {
  width: 180px;
  height: 120px;
}
button {
  width: auto;
  height: 36px;
}
.add-dish-modal {
left: 40%;
top: 20%;
 height: 400px;
}
